<section class="page-section-principal">
    <div class="row img-mask">
        <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
            <h1 class="flex-item">Luis David Zermeño Marquez.</h1>
            <h2 class="flex-item">Software Developer | <span><b>Full Stack</b></span></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi dignissimos dolores, natus soluta in
                delectus porro quaerat dolore mollitia consectetur dolor iure enim omnis magni, ex libero veritatis?
                Laudantium, veniam!</p>
        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/img/profile.webp" class="img-profile flex-item" alt="">
        </div>
        <span class="circuit-mask"></span>
    </div>
</section>

<app-nav></app-nav>